# Archivo de ejemplo para armar el ".env" del entorno del desarrollador

# Key de acceso para endpoints protegidos por AuthGuard
AUTH_KEY=key-ejemplo

# Puerto donde se ejecutará la aplicación
PORT=4000